<!-- 
  This is the landing page component.
  It is accessible to all users without requiring login.
  
  Purpose:
  - Showcase the main features of the application.
  - Provide clear calls to action (e.g., sign up, learn more).
  - Create a positive first impression.

  Content:
  - Include a hero section with a compelling message.
  - Highlight key benefits or features.
  - Display relevant images or videos.
  - Consider adding testimonials or social proof.
  - Include a clear call to action (e.g., "Get Started" button).

  Notes:
  - Keep the content concise and engaging.
  - Use clear and concise language.
  - Ensure the page is visually appealing and easy to navigate.
  - Consider using A/B testing to optimize the content and layout.
-->
<div class="">
  <!-- Hero Section -->
  <header class="text-center p-4 w-full h-full">
    <div
      class="absolute top-0 bottom-0 left-0 right-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:24px_24px] [mask-image:radial-gradient(ellipse_50%_60%_at_50%_100%,#000_70%,transparent_110%)] z-0">
    </div>
    <div class=" pt-40 px-16 relative z-10 flex flex-col items-center">
      <div class="max-w-[700px] flex flex-col items-center">
        <p class="text-primary-text text-6xl font-medium mb-4 leading-snug tracking-normal ">Ignite Your <span
            class="text-stone-600 bg-textgradient bg-clip-text text-transparent">Learning</span>
          with Custom Roadmaps
        </p>
        <p class="text-primary-accent text-base items-center max-w-[500px]">Tailored study plans, collaborative study
          partners, and expert
          resources designed to help you achieve your learning
          goals.
        </p>
      </div>
      <div
        class="max-w-[550px] w-[70vw] bg-secondary-bg border-[4px] border-gray-400 rounded-lg flex justify-between items-center py-2 px-2 mt-16 relative shadow-glow">
        <div>
          <app-typewriter></app-typewriter>
        </div>
        <button
          class="flex justify-center items-center text-base bg-primary-bg text-secondary-text font-medium py-2 px-4 rounded-md">Get
          Started</button>
      </div>
    </div>
  </header>

  <div class="w-full h-full p-4 pt-24 relative px-12">
    <div
      class="w-full bg-white rounded-[20px] lg:rounded-[24px] relative z-[1] shadow-[0px_0px_4px_1px_rgba(22,_22,_18,_0.06),_0px_0px_0px_10px_rgba(22,_22,_18,_0.02)] overflow-clip">
      <img src="assets/images/Roadmap.png" alt="" class="w-full h-auto object-cover object-center">
    </div>
    <div class="absolute inset-11 border-[4px] border-white rounded-3xl lg:rounded-[28px] bottom-3 top-[92px]"></div>
    <div
      class="absolute inset-10  border-[4px] border-gray-200 rounded-[28px] lg:rounded-[34px] backdrop-blur-[5px] opacity-[0.32] bottom-2 top-[88px]">
    </div>
  </div>

  <div class=" w-full h-full pt-24 flex flex-col items-center justify-center">
    <div class="max-w-[600px] font-thin">
      <p class="text-primary-text text-4xl text-center bg-textgradient2 bg-clip-text text-transparent leading-tight">
        Plan your
        <span class="underline decoration-stone-300/50  decoration-4 font-normal"><i>journey</i></span>,
        track progress, and achieve your goals faster
        with AI-driven study <span
          class="underline decoration-stone-300/50 decoration-4 font-normal"><i>roadmaps</i></span>.
      </p>
    </div>
    <div class="pt-10 pb-20 px-20 py-2 flex flex-col gap-y-4 lg:flex-row lg:gap-x-4 max-w-[1200px]">
      <div
        class="relative flex justify-center w-full h-[240px] [background:linear-gradient(180deg,#_0%,#161612_80%)] rounded-[24px] border-[.5px] border-stone-800 overflow-clip z-10">
        <div class="flex flex-col justify-end items-center text-center gap-y-1 px-6 py-[10px] z-10">
          <p class="text-primary-bg font-medium">Tailored Learning Plans</p>
          <p class="text-primary-accent text-sm font-medium">Get personalized roadmaps based on your goals and skill
            level for a focused
            learning journey.</p>
        </div>
        <p
          class="text-[150px] text-stone-600 bg-textgradient3 bg-clip-text text-transparent leading-[100%] absolute top-0 left-1/2 -translate-x-1/2 mt-7 z-[1]">
          1</p>
        <div
          class="absolute h-full w-full bg-[radial-gradient(#333333_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] z-0">
        </div>
        <div
          class="absolute z-[0] bottom-0 left-0 right-0 h-20 bg-gradient-to-t from-black/90 via-black/30 to-transparent">
        </div>
      </div>
      <div
        class="relative flex justify-center w-full h-[240px] [background:linear-gradient(180deg,#_0%,#161612_80%)] rounded-[24px] border-[.5px] border-stone-800 overflow-clip z-10">
        <div class="flex flex-col justify-end items-center text-center gap-y-1 px-6 py-[10px] z-10">
          <p class="text-primary-bg font-medium">Collaborative Study Partners</p>
          <p class="text-primary-accent text-sm font-medium">Connect with peers to share knowledge, solve challenges,
            and stay motivated
            together.</p>
        </div>
        <p
          class="text-[150px] text-stone-600 bg-textgradient3 bg-clip-text text-transparent leading-[100%] absolute top-0 left-1/2 -translate-x-1/2 mt-7 z-[1]">
          2</p>
        <div
          class="absolute h-full w-full bg-[radial-gradient(#333333_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] z-0">
        </div>
        <div
          class="absolute z-[0] bottom-0 left-0 right-0 h-20 bg-gradient-to-t from-black/90 via-black/30 to-transparent">
        </div>
      </div>
      <div
        class="relative flex justify-center w-full h-[240px] [background:linear-gradient(180deg,#_0%,#161612_80%)] rounded-[24px] border-[.5px] border-stone-800 overflow-clip z-10">
        <div class="flex flex-col justify-end items-center text-center gap-y-1 px-6 py-[10px] z-10">
          <p class="text-primary-bg font-medium">Expert Resources & Tools</p>
          <p class="text-primary-accent text-sm font-medium">Access curated resources and expert guidance to overcome
            challenges and
            achieve mastery.</p>
        </div>
        <p
          class="text-[150px] text-stone-600 bg-textgradient3 bg-clip-text text-transparent leading-[100%] absolute top-0 left-1/2 -translate-x-1/2 mt-7 z-[1]">
          3</p>
        <div
          class="absolute h-full w-full bg-[radial-gradient(#333333_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)] z-0">
        </div>
        <div
          class="absolute z-[0] bottom-0 left-0 right-0 h-20 bg-gradient-to-t from-black/90 via-black/30 to-transparent">
        </div>
      </div>
    </div>
  </div>

</div>
<!-- background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); -->