<nav class="navbar flex justify-between items-center bg-slate-50 py-4 px-8 shadow-md mb-8">
    <div class="navbar-brand text-2xl font-bold text-slate-700">Elite Learning</div>
    <ul class="navbar-nav flex justify-center items-center ">
        <li class="nav-item ml-8">
            <a class="nav-link text-gray-600 font-medium py-2 px-4 rounded-[0.25rem] hover:text-white hover:bg-[#4299e1] cursor-pointer"
                (click)="isLoggedIn ? handleLogout() : handleLogin()">
                {{ isLoggedIn ? 'Logout' : 'Login' }}
            </a>
        </li>
        <li class="nav-item ml-8" *ngIf="isLoggedIn">
            <button (click)="navigateToProfile()">
                <!-- [src] = "authService.currentUser?.photoURL" -->
                <img src="image" alt="User Profile Picture" class="w-10 h-10 rounded-full" />
            </button>
        </li>
    </ul>
</nav>