/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-input {
  @apply w-full p-2 border border-stone-800 hover:border hover:border-stone-400 bg-transparent rounded-sm;
}
