<!-- 
  This is the Chat Component.
  Purpose:
  - Enables users to interact with the Gemini AI chatbot.
  - Provides a user-friendly interface for sending messages and receiving responses.

  Functionality:
  - Allows users to type and send messages to the Gemini AI bot.
  - Displays the conversation history, including user messages and bot responses.
  - Handles user input and sends it to the Gemini API for processing.
  - Renders the AI bot's responses in a clear and understandable format.
  - May include features like code suggestions, code completion, and debugging assistance.

  Considerations:
  - Implement clear user instructions and prompts for interacting with the chatbot.
  - Design the layout to be intuitive and visually appealing for a conversational experience.
  - Handle potential errors and provide helpful feedback to the user.
  - Ensure the chatbot's responses are relevant and informative.
  - Consider incorporating features like user authentication and session management for personalized interactions.

  Notes:
  - This component relies on the Gemini API for communication with the AI bot.
  - Refer to the Gemini API documentation for details on its capabilities and usage.
  - Ensure proper error handling and security measures are in place.
  - Consider adding features like message history, user preferences, and customization options to enhance the user experience.
-->
<brn-popover closeDelay="100" class="absolute right-0 bottom-0 mr-4 mb-4">
  <button brnPopoverTrigger class="py-3 px-4 flex justify-center items-center bg-zinc-900 rounded-[8px]"><ng-icon
      name="matChatBubbleRound" class="text-white"></ng-icon></button>
  <div hlmPopoverContent class="bg-zinc-900 w-[50vw] grid gap-4 mr-4 mb-2 rounded-xl border-[4px] border-zinc-500"
    *brnPopoverContent="let ctx">
    <div class="">
      <div class="h-[60vh] px-1 mx-1 py-2 my-2 overflow-y-auto">
        <div *ngFor="let message of messages" class="flex"
          [class]="message.role === 'user'? 'justify-end' : 'justify-start'">
          <div [class]="message.role === 'user' ? 'bg-zinc-700 text-white' : 'bg-zinc-300 text-gray-800'"
            class="py-1 px-2 mb-4 rounded">
            {{ message.content }}
          </div>
        </div>
      </div>
      <div class="flex  bg-white px-2 py-1 border rounded">
        <input class="flex-grow px-2 py-2 focus:outline-none" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
          placeholder="Type a message...">
        <button (click)="sendMessage()"
          class="bg-zinc-900 text-white flex justify-center items-center py-2 px-4 rounded"><ng-icon
            name="matSendRound"></ng-icon></button>
      </div>
    </div>
  </div>
</brn-popover>