<div class="w-full h-full mt-20 mb-20 px-16">
    <div class="h-[40vh] mx-20 flex justify-center items-center gap-x-4">
        <div class="flex justify-center items-center">
            <button class="text-primary-text flex justify-normal items-center gap-x-8 py-4 px-6 gradient-border-button"
                (click)="navigateToRoadmaps()">Roadmap<ng-icon name="matArrowOutward"></ng-icon></button>
        </div>
        <div class="flex justify-center items-center">
            <button class="text-primary-text flex justify-center items-center gap-x-8 py-4 px-6 gradient-border-button"
                (click)="navigateToRoadmaps()">Chat
                Buddy<ng-icon name="matChatBubble"></ng-icon></button>
        </div>
    </div>
</div>